torch
torchvision
torchaudio
transformers==4.40.2
datasets
peft
trl==0.9.6
unsloth
accelerate
bitsandbytes
mlflow
mistralai
gspread
oauth2client
edsnlp
dspy
streamlit
negspacy
matplotlib
scikit-learn
python-dotenv
presidio-analyzer 
presidio-anonymizer